h1, p {
  font-family: Lato;
}
.betterview{
  border:1px solid;
  margin:10px;
  padding:10px;
  border-radius: 10px;

}
.redback{
  background-color: indianred;
}
.flex-container{
  display: flex;
  flex-wrap: wrap;  
  justify-content: center;
}
.thumb{
  width:150px;
  margin:5px;
  padding:5px;
  border: 1px solid;
}
